.footer {
  padding-block: 4rem 2rem;
}

.footer-container {
  row-gap: 4rem;
}

.footer-logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.75rem;
}

.footer-logo i {
  color: var(--first-color);
  font-size: 1.5rem;
  font-weight: initial;
}

.footer-content {
  grid-template-columns: repeat(2, 1fr);
}

.footer-title {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

.footer-links {
  display: grid;
  row-gap: 0.75rem;
}

.footer-link {
  color: var(--text-color);
  transition: color 0.5s;
}

.footer-link:hover {
  color: var(--first-color);
}

.footer-copy {
  display: block;
  margin-top: 6rem;
  text-align: center;
  font-size: var(--small-font-size);
}

@media screen and (max-width: 320px) {
  .footer-content {
    grid-template-columns: max-content;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-around;
  }
}

@media screen and (min-width: 1150px) {
  .footer-logo {
    margin-bottom: 1.5rem;
  }

  .footer-logo i {
    font-size: 2rem;
  }

  .footer-content {
    column-gap: 6.5rem;
  }

  .footer-title {
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
  }
}
